@import "../../style/variables.scss";
.forget-password{
  font-size: 1.2rem;
  color:$small-text;
  text-align: right;
  margin-top:0.5rem;
  
}
#login-button{
  margin-top: 3rem;
  margin-bottom: 2rem;
}