@import "../../style/variables.scss";
#refuse-button{
  padding: 0.3rem 1.6rem;
  font-size: 1.5rem;
  height: auto;
  font-weight: 400;
  margin-left: 1rem;
  background-color: $red;
}
#accept-button{
  padding: 0.3rem 1.6rem;
  font-size: 1.5rem;
  height: auto;
  font-weight: 400;
}

