@import "../../style/variables.scss";
.categories {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
  border-bottom: 0.1rem solid $categories-border;
  border-collapse: collapse;
  
 
}
.categories-item {
  color: $text-color1;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 1.6rem;
  cursor: pointer;
  border-bottom: 0.1rem solid $home-bg;
 
  &:focus {
    color: $blue;
    border-bottom: 0.1rem solid $blue;
    bottom:-0.1rem;
    position: relative;
  }
}
@media screen and (max-width: 1535px) {
  .categories-item {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 1200px) {
  .categories-item {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 900px) {
  .categories-item {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 375px) {
  .categories {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 35.5rem;
    margin-top: 2rem;
  }
  .categories-item {
    margin-right: 2.7rem;
    padding-bottom: 0.7rem;
  }
}
