@import "../../style/variables.scss";
.header{
  height: 8rem;
  background-color:$white;
}
.navbar{
  margin:0 22rem;
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 100%;
}
.header-logo{
  
  img{
    height: 4rem;
    width: 12.5rem;
    text-align: center;
  }
}
.user{
  width: 11.5rem;
  height: 4rem;
}
#header-login-button{
  font-size: 1.5rem;
  
}